{%extends "base.html"%}
{%block content%}
<div class="container" >
	<h1 class="text-white " style="text-align:left;">Accident Details</h1>
	<div class="card-text" style="background-color:rgba(169,169,169, 0.3)" >
		<div class="card-body">
			<h1 class="card bg-danger text-white text-center">Accident-{{accident.id}}</h1>
			<br>
			<p class="card-text text-white" ><h3 class="bg-dark text-white">Location</h3> {{accident.location}}</p>
			<br>
			<p class="card-text text-white">{{accident.date_time}}</p>
			<br>
			<h3 class="bg-dark text-white">Description</h3>
			<br>
			<p class="card-text text-white">{{accident.description}}</p>
			<br>
			<div>
				<h3 class="text-white bg-dark">Accident</h3>
				<br>
			{% for img in car_images%}
				<img src="{{img.accident_image.url}}" width="280" height="300"/>
				{% endfor %}
				<br>
			</div>
			<div>
				<br>
				<h3 class="text-white bg-dark">Car Registration</h3>
				<br>
				{% for img in regis_images%}
				<img src="{{img.regist_image.url}}" width="380" height="400"/>
				
				{% endfor %}
			</div>
		</div>
		    
</div>
</div>

{% endblock %}