
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Report an Accident{% endblock title %}

{% block content %}
    
<br>

<div class="card-center text-center">
  <div class="card-header bg-white"><h5>Report an Accident</h5></div>
  </div>
  <div class="card-body">
    <div class="card-center text-dark text-center p-3">
	<div class="jumbotron jumbotron-fluid bg-gradient-success">
	<div class="container">

	<form action="{% url 'create-accident' %}" method="POST" enctype="multipart/form-data">
		<p>Please Provide Involved People Civil ID Numbers</p>
        {% csrf_token %}
        {{formset.management_form}}
        {% for form in formset %}
            {{form|crispy}}
        {% endfor %}
    
            <h3>Location</h3>
            <div id="mapholder"></div>

            <button id="location" onclick="showLocation()" class="btn btn-outline-warning">Attach Location</button>
   
   {{accidentForm|crispy}}
        <h3>Car Registeration</h3>
        {{registrationFormset.management_form}}
		{% for form in registrationFormset %}
            {{form|crispy}}
        {% endfor %}
    	<div>
    		<h3>Car accident images</h3>
        	{{car_images_form|crispy}}
    	</div>
        <input type="submit" value="Report" class="btn btn-outline-warning">
    </form>

</div>
</div>
</div>
<script>

function showLocation() {
    if (navigator.geolocation.getCurrentPosition(showPosition)) {
        position=navigator.geolocation.getCurrentPosition(showPosition)

        showPosition(position)
    }
    else if(!navigator.geolocation){

        document.getElementById("mapholder").innerHTML =  "<p>Geolocation is not supported by this browser.</p>";
    }
}
function showPosition(position) {

       
        var latlon = position.coords.latitude + "," + position.coords.longitude;
        var img_url = "https://maps.googleapis.com/maps/api/staticmap?center="+latlon+"&zoom=18&size=400x300&sensor=false&key=AIzaSyDZG-gtTFCZ2SProv9zW0vM_97ZEVK9a1s";

document.getElementById("id_location_longitude").value=position.coords.longitude
document.getElementById("id_location_latitude").value=position.coords.latitude
document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
   
}

</script>


	{% endblock %}


