{%extends "base.html"%}
{%block content%}
<div class="container">
	<body onload="showPosition({{accident.location_longitude}},{{accident.location_latitude}})"></body>
	<div class="card text-center">
		<div class="card-body">
			<h5 class="card-title">Accident-{{accident.id}}</h5>
			<p class="card-text">Location:<div id="mapholder"></div></p>
			<p class="card-text">{{accident.date_time}}</p>
			<div>
				<h3>Accident</h3>
			{% for img in car_images%}
				<img src="{{img.accident_image.url}}"/>
				{% endfor %}
			</div>
			<div>
				<h3>Car Registration</h3>
				{% for img in regis_images%}
				<img src="{{img.regist_image.url}}"/>
				
				{% endfor %}
			</div>
		</div>
		    
</div>
</div>
<script>

function showPosition(location_longitude,location_latitude) {
console.log("Hello")       
        var latlon = location_latitude + "," + location_longitude;
        var img_url = "https://maps.googleapis.com/maps/api/staticmap?center="+latlon+"&zoom=18&size=400x300&sensor=false&key=AIzaSyDZG-gtTFCZ2SProv9zW0vM_97ZEVK9a1s";

document.getElementById("mapholder").innerHTML = "<img src='"+img_url+"'>";
   
}

</script>

{% endblock %}