{%extends "base.html"%}
{%block content%}

<br>
<br>

<div class="container ">
	<h1 class="text-white" style="text-align:left;">PROFILE</h1>
	<div class="card" style="background-color:rgba(169,169,169, 0.3)" >
  		<div class="card-body" style="text-align:center;">
        <h5 class="card-title text-white">Civil ID:    {{request.user.profile.civil_id}}</h5>
        <br>
    		<h5 class="card-subtitle mb-2 text-white">Name:    {{request.user.first_name}} {{request.user.last_name}}</h5>
    		<br>
    		<h5 class="card-subtitle mb-2 text-white">Email:    {{request.user.email}}</h5>
    		<br>
        <h5 class="card-subtitle mb-2 text-white">Phone Number:    {{request.user.profile.phone_no}}</h5>
        <br>
    		<a href="{% url 'update-profile' %}" class="btn btn-outline-warning" >Edit Profile</a>    

    		<br>
    		<br>
    		<div class="container" style="text-align:left;">
  <table class="table table-borderless">
  <thead class="thead bg-danger text-white">
    <tr>
      <th scope="col">Accident ID</th>
      <th scope="col">Date & Time</th>
      <th scope="col">Location</th>
      <th scope="col">status</th>
      <th scope="col"></th>
    </tr>
  </thead class="thead text-white">
  <tbody class="thead text-white">
  {% for accident in  accidents %}

  <tr>
    
  <td><a href="{% url 'accident-detail' accident.id %}">{{accident.id}}</a></td> 
  <td>{{accident.date_time}}</td>
  <td><div id="map"></div></td>
  <td>{{accident.status}}</td>
  <td><a href="{% url 'accident-detail' accident.id %}" class="btn btn-warning">view</a></td>
</tr>
  {% endfor %}
</tbody>
</table>
</div>  




{% endblock %}


