{%extends "base.html"%}
{%block content%}

<div class="container ">
	<div class="card bg-transparent" >
  		<div class="card-body" style="text-align:center;">
    		<h5 class="card-title">{{request.user.username}}</h5>
        <h5 class="card-title">{{request.user.profile.civil_id}}</h5>
    		<h6 class="card-subtitle mb-2 text-muted">{{request.user.first_name}} {{request.user.last_name}}</h6>
    		<h6 class="card-subtitle mb-2 text-muted">{{request.user.email}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{request.user.profile.phone_no}}</h6>
    		<a href="{% url 'update-profile' %}" class="btn btn-info m-2" >Edit Profile</a>      

{% endblock %}