{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock title %}

{% block content %}
    
<br>

<div class="card-center text-center">
  <div class="card-header bg-white"><h5>Registration</h5></div>
  </div>
  <div class="card-body">
    <div class="card bg-transparent text-white text-center p-3">
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{popForm|crispy}}
            {{form|crispy}}
            <br>
            <input type="submit" value="Register" class="btn btn-outline-warning">
        </form>
    </div>
  </div>
  </div>
</div>
{% endblock content %}