{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class=" text-center ">
  
    <div class="container">
        <div class="jumbotron">
          <h2 class="masthead-subheading mb-0">Edit Profile</h2>
          <form action="{% url 'update-profile' profile.id %}" method="POST">
            {% csrf_token %}
            {{user_form|crispy}}
            {{prof_form|crispy}}
            <input class = "btn btn-primary btn-xl rounded-pill mt-5" type="submit" value="Edit">
          </form>
      </div>
    </div>
  

</header>
{% endblock %}